---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/142.30.1.4?access_key=dummy_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - a4305fd3-1603-447a-bd75-e2b66f135209
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '988'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.098'
    body:
      encoding: UTF-8
      string: '{"ip": "142.30.1.4", "type": "ipv4", "continent_code":
        "NA", "continent_name": "North America", "country_code": "CA", "country_name":
        "Canada", "region_code": "BC", "region_name": "British Columbia", "city":
        "Victoria", "zip": "V8X 4S8", "latitude": 48.45322036743164, "longitude":
        -123.36897277832031, "location": {"geoname_id": 6174041, "capital": "Ottawa",
        "languages": [{"code": "en", "name": "English", "native": "English"}, {"code":
        "fr", "name": "French", "native": "Fran\u00e7ais"}], "country_flag": "https://assets.ipstack.com/flags/ca.svg",
        "country_flag_emoji": "\ud83c\udde8\ud83c\udde6", "country_flag_emoji_unicode":
        "U+1F1E8 U+1F1E6", "calling_code": "1", "is_eu": false}}'
  recorded_at: Sun, 10 Dec 2023 08:52:03 GMT
recorded_with: VCR 6.2.0
